# Python
__pycache__/
*.py[cod]
*.pyo

# Envs
.venv/
venv/
env/

# Tools
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Build
build/
dist/
*.egg-info/
